{% extends "base.html" %} {% block mapping_active %} active {% endblock %} {%
block content %}

<div>
    <form method="POST" action="/mapping" class="mb-4">
        <input type="hidden" name="form_type" value="add" />
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="user" class="form-label">User:</label>
                    <input
                        type="text"
                        id="user"
                        name="user"
                        class="form-control"
                        required
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="address" class="form-label"
                        >Bluetooth Address:</label
                    >
                    <input
                        type="text"
                        id="address"
                        name="address"
                        class="form-control"
                        required
                    />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Mapping</button>
    </form>
</div>

<div class="mt-5">
    <h4>Existing Mappings</h4>
    <table class="table table-striped mt-4">
        <thead class="table-dark">
            <tr>
                <th>User</th>
                <th>Bluetooth Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for mapping in mappings %}
            <tr>
                <td>{{ mapping.user }}</td>
                <td>{{ mapping.address }}</td>
                <td>
                    <form method="POST" action="/mapping">
                        <input type="hidden" name="form_type" value="delete" />
                        <input
                            type="hidden"
                            name="id"
                            value="{{ mapping._id }}"
                        />
                        <button type="submit" class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
